@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <link href="~/css/openlayers.css?v=1" rel="stylesheet" />
    <link href="~/css/style.css?v=1" rel="stylesheet" />

}
<div id="info"></div>
<div id="map">
</div>
@section Scripts
{
    <script type="text/javascript" src="~/lib/OpenLayers.js?v=1"></script>
    <script type="text/javascript" src="~/js/ol/LoadingPanel.js?v=1"></script>
    <script type="text/javascript" src="~/js/script_utfgrid.js?v=1"></script>
}