<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - WMTSServerExample</title>
    <script src="~/js/modernizr-1.5.min.js?v=1"></script>
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- CSS : implied media="all" -->
    <link href="~/css/style.css?v=1" rel="stylesheet" />
    <link href="~/css/handheld.css?v=1" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>


    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - 刘大大 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="~/js/jquery-1.7.1.min.js?v=1"><\/script>')</script>
    <script src="~/js/plugins.js?v=1"></script>
    <script src="~/js/profiling/yahoo-profiling.min.js?v=1"></script>
    <script src="~/js/profiling/config.js?v=1"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
